<html>

<head>
    <meta charset="utf-8">
    <title>Result</title>
</head>

<body>
    <h1>Result</h1>
    <fieldset>
        <p>Name:
            <%= name %>
        </p>
        <ul>
            <% for (const name of names) { %>
                <li>
                    <%= name %>
                </li>
                <% } %>
        </ul>
    </fieldset>


</body>

</html