<section>
  <a routerLink='/questions'>Home</a>
  <button>Go Back to Question</button>
  <a href>Logout</a>
  <fieldset>
    <legend>{{ question.query }}</legend>
    <p>{{ question.description}}</p>
    {{ questionForm.value | json }}
    <form (submit)='onSubmit($event, questionForm)' #questionForm='ngForm'>
      <div>
        <label for="">Your Answer:</label>
        <input type="text" name='query' [(ngModel)]='question.query' required>
      </div>
      <div>
        <label for="">Supporting details for your answer (optional)</label>
        <input type="text" name='description' [(ngModel)]='question.description'>
      </div>
      <button>Cancel</button>
      <button *ngIf='questionForm.valid'>Submit</button>
    </form>
  </fieldset>
</section>
