<section>
  <h1>Let's eat</h1>
  <button>New review</button>
  <table class="table table-striped">
    <thead>
      <th> id</th>
      <th>Customer</th>
      <th>Stars</th>
      <th>Description</th>
    </thead>

    <tbody>

      <tr *ngFor='let review of reviews'>
        <!--(click)='onSelect(restaurant)'>-->
        <!--[routerLink]='restaurant._id'>-->
        <td>{{ review.id }}</td>
        <td>{{ review.customer }}</td>
        <td>{{ review.stars }}</td>
        <td>{{ review.description }}</td>
        <!--<td (click)='onClick($event)'>
            <button *ngIf='authed; else login' (click)='onDelete(book)'>DELETE</button>-->
        <td>Future Actions</td>
      </tr>
    </tbody>
  </table>
</section>
<app-restaurantsreviewnew></app-restaurantsreviewnew>
