<section>
  <h1>Hi {{user.name}}! </h1>
  <button>Add a Question</button>
  <button>Logout</button>
  <p>Search</p>
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Question</th>
      <th>Answers</th>
      <th>Action</th>
    </thead>

    <tbody>
      <tr *ngFor='let question of questions' (click)='onSelect(question)' [routerLink]='question._id'>
        <td>{{ question._id }}</td>
        <td>{{ question.query }}</td>
        <td>{{ question.answerqty }}</td>
        <td>
          <button>Show</button>
        </td>
        <td>
          <button>Answer</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #login>
  <p>Login to delete</p>
</ng-template>
