<section>
  <h1>Hi! </h1>
  <a routerLink='/new'>Add a Question</a>
  <a href>Logout</a>
  <p>Search</p>
  <table border=1>
    <thead>
      <th>Question</th>
      <th>Answers</th>
      <th>Action</th>
    </thead>

    <tbody>
      <tr *ngFor='let question of questions'>
        <td>{{ question.query }}</td>
        <td>{{ question.description }}</td>
        <td>
          <a [routerLink]='question._id'>Show</a>
          //
          <a routerLink=":id/new_answer">Answer</a>
        </td>
        <td (click)='onClick($event)'>
          <button *ngIf='authed; else login' (click)='onDelete(question)'>DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #login>
  <p>Login to delete</p>
</ng-template>
