<section>
  <button>Home</button>
  <button>Logout</button>
  <fieldset>
    <legend>New Question</legend>
    {{ questionForm.value | json }}
    <form (submit)='onSubmit($event, questionForm)' #questionForm='ngForm'>
      <div>
        <label for="">Question</label>
        <input type="textarea" name='query' [(ngModel)]='question.query' required>
      </div>
      <div>
        <label for="">Description</label>
        <input type="textarea" name='description' [(ngModel)]='question.description'>
      </div>
      <button>Cancel</button>
      <button *ngIf='questionForm.valid'>Submit</button>
    </form>
  </fieldset>
</section>
