<section>
  <a routerLink='/questions'>Home</a>

  <a routerLink='/questions/:.id/new_answer'>Answer the Question</a>
  <a href>Logout</a>

  <fieldset>

    <div *ngIf='errorMessage'>
      <p>{{errorMessage}}</p>
    </div>
    <legend> {{question?.query}}</legend>
    <p>{{question?.description}}</p>

    <tbody>
      <tr *ngFor='let answer of answers'>
        <td>{{ answer.author }}</td>
        <td>{{ answer.content }}</td>
        <td>{{ answer.details }}</td>
        <td>{{ answer.likes }}</td>
        <td (click)='onClick($event)'>
          <button>Like</button>
        </td>
      </tr>
    </tbody>

  </fieldset>
</section>
